<html lang="en">
    <head>
        <% include ../helpers/head %>
    </head>
    <body class="container">
        <header>
            <% include ../helpers/navbar %>
        </header>
        <main>
            <div class="page-header">
                <h1>Look at me!</h1>
                <h4 class="subheader">I'm usually writing code</h4>
            </div>
            <div class="content">
                <img class="queen-of-computers" src="/images/darragh.jpg" />
                <p>My name is Darragh and I'm currently a Software engineer at HubSpot. I've been at HubSpot for 8 months now, after graduating from Computer Engineering in TCD. </p>
                <p>I love building sweet products for happy customers, and HubSpot is the place I love to do it every day. I have built a few things on my own, you can see them <a href="https://darraghmckay.com">here</a>, but this sweet sweet site is a ~*~*very~*~*~ basic template that you might use if you were in the market to build out your own personal website. Tabs, styling, the works. Google + bootstrap are your new best friends.</p>
            </div>
        </main>
    </body>
</html>
